html, body {
    margin: 0;
    display:flexbox;
    font-family: "Geologica", sans-serif;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0;
    background-color: linear-gradient(to bottom right, #90D0F8, #6C7CE4);
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    background-color: white;
    width: 15%;
    padding: 10px 20px 0px;
    transition: transform 3s ease-in
}

.menu h2 {
    color: #FE9A2E;
}

.header {
    min-height: 150px;
    margin: 0;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    font-family: "Geologica", sans-serif;
}

.footer {
    background-color: #6C7CE4;
    min-height: 150px;
    min-height: 150px;
    display: flex;
    justify-content: space-evenly;
}

.footer ul li {
    margin-left: -40px;
    list-style-type: none;
}

.footer ul li a {
    text-decoration: none;
}

table {
    height: 250px; 
    width: 800px; 
    align-content: center; 
    text-align: center;
}

table thead th {
    background-color: rgba(0, 0, 0, 0.145);
}

table tbody tr:hover td {
    background-color: rgba(0, 0, 0, 0.200);
}

label {
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.address {
    display: block;
    margin-left: 90px;
    margin-right: 50px;
}

a:link, a:visited, a:active {
	text-decoration: none;
    color: #90D0F8;
	}

a:hover {
	color: #FE9A2E	;
	}